{% extends "base.html" %}

{% block content %}

<section class="max-w-4xl p-6 mx-auto bg-white rounded-md shadow-md dark:bg-gray-800">
    <div class="container px-5 py-5 mx-auto">

        <div class="m-5">
            <h1 class="text-lg font-semibold text-gray-700 capitalize dark:text-white">{{ question.question_text }}</h1>
        </div>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

        <form class="mt-4" action="{% url 'polls:vote' question.id %}" method="post">
            {% csrf_token %}
            {% for choice in question.choice_set.all %}
                <input type="radio" class="w-2 h-2 text-indigo-600 focus:ring-indigo-500" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
            {% endfor %}

            <div class="mt-4">
            <button
                type="submit"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
            >
                Vote
            </button>
            </div>
        </form>

    </div>
</section>
{% endblock content %}